<header class="header">
    <div class="header-inner">
      <div class="logo">Art Gallery</div>
      
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li *ngIf="userService.getUserData() && userService.getUserData()?.role  === 0">
            <a href="/add-artwork">Add artwork</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
<div class="container">
    <form [formGroup]="artworkForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" formControlName="name">
    </div>
    <div>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" formControlName="author">
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" formControlName="description"></textarea>
    </div>
    <div>
        <label for="imagePath">Image Path:</label>
        <input type="text" id="imagePath" name="imagePath" formControlName="imagePath">
    </div>
    <label for="category">Category:</label>
    <select formControlName="category">
        <option value="Sculptures">Sculptures</option> 
        <option value="Paintings" selected>Paintings</option>
      </select>
    <button type="submit">Submit</button>
</form>
</div>